S :root {
  /* MODO CLARO */
  --bg-body: #fff6ed;
  --bg-card: #f9f9f9; /* Cor de fundo do container */
  --text-color: #333333;
  --text-secondary: #000000; /* Para o número do pokemon */
  --border-color: #000000; /* Cor da borda do container */
}

/* MODO ESCURO */
body.dark-mode {
  --bg-body: #202020;
  --bg-card: #333333; /* Container fica cinza escuro */
  --text-color: #ffffff;
  --text-secondary: #e0e0e0; /* Número fica claro */
  --border-color: #ffffff; /* Borda fica branca */
}

/* Regras Gerais */
body {
  background-color: var(--bg-body);
  color: var(--text-color);
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;
}
.content {
  height: 100vh;
  width: 100vw;
  padding: 1rem;

  /* AQUI TAMBÉM: Troque #fff pela variável */
  background-color: var(--bg-content);
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: 100vh;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}
